{% extends 'base.html' %}

{% block head %}
<title> Machine Learning</title>
{% endblock %}

{% block body %}
<section class="ftco-section h-100 gradient-custom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Final Project Kelompok 9</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="login-wrap p-4 p-md-5">
                <div class="row justify-content-center py-md-5">
                  <form action="/" method="GET" class="signup-form text-center">
                        <h2 class="mb-4">Polusi Udara Dinyatakan</h2>
                          
                        {% if finalData == 0 %}
                        <h3 class="mb-4">GOOD</h3>
                              
                        {% elif finalData == 1 %}
                        <h3 class="mb-4">HAZARDOUS</h3>
                              
                        {% elif finalData == 2 %}
                        <h3 class="mb-4">MODERATE</h3>

                        {% else %}
                        <h3 class="mb-4">POOR</h3>

                        {% endif %}

                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary submit p-3">Selesai</button>
                            </div>
                        </div>

                        <h3> {{ message }} </h3>
                    </form>
                </div>
            </div>
		</div>
	</div>
</section>
{% endblock %}